<!DOCTYPE html>
<html>
<head>
    <title>Goatnames</title>
    <style type="text/css">

        body {
            margin: 0 auto;
            width: 850px;
        }

        h1, h2 {
            margin-top: 20px;
            margin-bottom: 0;
        }
        
        .input-wide {
            width: 350px;
        }

        pre {
            white-space: pre-wrap;
            word-break: break-word;
        }

        .column {
            width: 400px;
            padding-right: 20px;
            display: inline-block;
            vertical-align: top;
        }

    </style>
</head>
<body>
    <h1>Goatnames Clue-Giver 🐐</h1>
    <div class="column">
        <h2>Game Board</h2>
        <p>Enter a Horsepaste URL:</p>
        <input id="input-horsepaste" type="text" class="input-wide">
        <h2>Generate Clues</h2>
        <p>
            <span>Generate clues for which team?</span>
            <select id="input-team">
                <option value="blue">Blue</option>
                <option value="red">Red</option>
            </select>
        </p>
        <p>
            <span>Show answers for hint?</span>
            <select id="input-hint">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </p>
        <p>
            <span>Generate clues for how many cards?</span>
            <input id="input-count" type="number" min="1" step="1" value="2">
        </p>
        <button id="button-submit">Get Clues</button>
    </div>
    <div class="column">
        <h2>Clues</h2>
        <pre id="output-clues">Get your clues here!</pre>
    </div>
    <script type="text/javascript">
        
        const inputHorsepaste = document.getElementById("input-horsepaste");
        const inputHint = document.getElementById("input-hint");
        const selectorTeam = document.getElementById("input-team");
        const inputCount = document.getElementById("input-count");
        const submitBtn = document.getElementById("button-submit");
        const outputClues = document.getElementById("output-clues");

        submitBtn.addEventListener("click", getClues);
        inputCount.addEventListener("keydown", (e) => (e.key === "Enter" || e.keyCode === 13) ? getClues() : null);

        async function getClues() {
            const horsepaste = inputHorsepaste.value;
            const hint = inputHint.value === "true";
            const team = selectorTeam.value;
            const count = Math.max(parseInt(inputCount.value), 1);
            const args = { horsepaste, team, count, hint };
            console.log(args);
            outputClues.innerText = "Working on it...";
            const req = await fetch("./api/cluegiver/horsepaste", {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(args)
            });
            const res = await req.json();
            console.log(res);
            outputClues.innerText = res.display;
        }

    </script>
</body>
</html>