<!DOCTYPE html>
<html>
<head>
    <title>Goatnames</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">

        body {
            margin: 0 auto;
            width: 850px;
        }

        h1, h2 {
            margin-top: 20px;
            margin-bottom: 0;
        }

    </style>
</head>
<body>
    <h1>Goatnames Clue-Giver 🐐</h1>
    <p>Oh! Funny seeing you here.</p>
    <h2>Play Codenames with an AI</h2>
    <ul>
        <li><a href="./horsepaste">With a Horsepaste link.</a></li>
        <li><a href="./board">With raw board state.</a></li>
    </ul>
</body>
</html>